# Cmake
cmake-build-*/
build/
out/
.idea/

# Фетч контент
_deps/

# Исполняемые файлы
*.exe
*.a
*.so
*.dylib
ProjectX_run
menu_tests

# Файлы бд
*.db
*.sqlite
*.sqlite3

# Логи
*.log
bot_logs.txt

# мусор от мака
.DS_Store

# мусор винды
Thumbs.db

# Environment variables
.env
*.env.local

# Database
databases/*.db

# Build
cmake-build-*/
build/